
*{
    margin: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;

<<<<<<< Updated upstream
=======
body{
    background-color:#fafaff;
    
>>>>>>> Stashed changes
}

/* HEADER */

.nav-container{
    padding-left: 0;
    padding-right: 0;
}

.navbar-background{
    background-color: rgba(64, 0, 128, 0.2);

}

.menu-ubicacion{
    justify-content: center;
} 

.navbar-nav li{
    padding: 1rem;
}

.img-logo{
    width: 20rem;
}

.texto-nav{
    font-size: 1.7rem;
}

.navbar-nav a {
    color:#400080 
}

<<<<<<< Updated upstream
.navbar-nav a:hover{
    color: #bb77ff;
}
=======

/* INDEX VIDEO */
/* .video-background{
    background-color:#fafaff;
} */
>>>>>>> Stashed changes

/* NOTICIAS */



.cart-noticia{
    display: flex;
    flex-flow: row wrap
}

.card-noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot-noticia{
    display: flex;
    margin-top: auto;
    background-color: #0a58ca;
    padding: 5px 10px;
    width: 40%;
    border: none;
    cursor: pointer;
}

.img-tam{
    aspect-ratio: 3/2;
    object-fit: cover;
<<<<<<< Updated upstream
}
=======
}

/* FOOTER */
#footer{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 15rem;
    background-color:#e4d9ff;
    opacity: 0.7;
    justify-content: center;
}


.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-ul{
    display: flex;
    justify-content: start;
    width: 50%;
}

.ul-redes{
    display: flex;
}

.icon-footer{
    font-size: 3rem;
}

.footer-email{
    display: flex;
    justify-content: end;
    width: 50%;
    font-size:1rem;
}

.footer-div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-wrap: wrap;
}

.footer-email label{
    display: flex;
    justify-content: center;
    width: 28rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.footer-email input{
    display: flex;
    justify-content: center;
    width: 25rem;
    height: 3rem;
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding-left: 1.2rem;
}

.ul-redes li{
    padding: .5rem;
    list-style: none;
}

/* SOBRE EL BLOG */

.container-sobre-blog{
    display: flex;
    justify-content: space-between;
}

.container-derecho{
    display: flex;
    justify-content: end;
    
    padding-right: 5rem;
}

.container-izquierdo{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.cont-izq{
    padding-left: 5rem;
    width:100%;
}
.texto-izquierdo{
    display: flex;
    overflow: hidden;
    width: 40rem;
    height:50rem;
    font-size:2.7rem ;
}

.img-sobre-blog{
    width: 40rem;
    height:50rem;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.boton-tamano{
    width:10rem;
}

/* RESTAURANES */



/* MEDIA QUERY */

@media screen and (max-width:990px) {
    .navbar-pers{
        justify-content: end;
        align-items: center;
    }
}
    
>>>>>>> Stashed changes
