
*{
    margin: 0;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;

}

/* HEADER */

.nav-container{
    padding-left: 0;
    padding-right: 0;
}

.navbar-background{
    background-color: rgba(64, 0, 128, 0.2);

}

.menu-ubicacion{
    justify-content: center;
} 

.navbar-nav li{
    padding: 1rem;
}

.img-logo{
    width: 20rem;
}

.texto-nav{
    font-size: 1.7rem;
}

.navbar-nav a {
    color:#400080 
}

.navbar-nav a:hover{
    color: #bb77ff;
}

/* NOTICIAS */


.cart-noticia{
    display: flex;
    flex-flow: row wrap
}

.card-noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot-noticia{
    display: flex;
    margin-top: auto;
    background-color: #0a58ca;
    padding: 5px 10px;
    width: 40%;
    border: none;
    cursor: pointer;
}

.img-tam{
    aspect-ratio: 3/2;
    object-fit: cover;
}