.video-section{
    background-color:#ffffff;
    .container{
        .row{
            div{
                display: flex;
                justify-content: center;
                margin: 3rem 0;
                width: 90%;
            }
        }
    }
}

.container-blog{
    background-color: #ffffff;
    margin: 10rem 0;
    padding: 3rem 0;
    h1{
        text-align: center;
    }
    .row{
        

    }
}