$text-color:#23022ef8;
$text-botton:#5b0577f8;
$bground-color:#ffffff;

@mixin mobile {
    @media screen and (max-width: 576px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px){
        @content;
    }
}

.video-section{
    margin: 3rem 0;
    .container{
        .row{
            div{
                display: flex;
                justify-content: center;
                margin: 3rem 0;
                width: 90%;
            }
        }
    }
}

.container-blog{
    background-color: #ffffff;
    margin: 10rem 0;
    padding: 3rem 0;
    h1{
        text-align: center;
    }
    .row{
        margin-top: 8rem;
        .container-izquierdo{
            display: flex;
            margin-bottom: 5rem;
            ///Aplicar media-query, centrar
            .texto-izquierdo{
                width: 80%;
                height: 100%;
                font-size: 3.2rem;
                padding-left: 7rem;
                @include mobile {
                    font-size: 2rem;
                    text-align: center;
                    padding-left: 1rem;
                }
                p{
                    color: $text-color;
                    margin: 0;
                }
            }
        }
        .container-derecho{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 2rem;
            .container-imagen{
                padding-left: 7rem;
                @include mobile{
                    padding: 0;
                }
                @include tablet {
                    padding: 0;
                }
                img{
                    aspect-ratio: 2/3;
                    height:60rem;
                    object-fit:cover;
                    @include mobile {
                        aspect-ratio: 4/4;
                        height: 100%;
                        padding: 1rem;
                    }
                    @include tablet {
                        aspect-ratio: 4/4;
                        height: 100%;
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                    }
                    ///Aplicar media-query
                    ///sacar padding , poner 4/3 y centrar
                }
            }
        }
    }
    .boton-contacto{
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        a{
            background-color: $text-botton;
            color:$bground-color;
        }
    }
}
