
$text-color:#23022ef8;
$text-botton:#5b0577f8;
$bground-color:#ffffff;

@mixin mobile {
    @media screen and (max-width: 576px) {
        @content;
    }
}


footer{
    position: relative;
    background-color: $bground-color;
    bottom: 0;
    margin: 1rem 0;
    padding-bottom: 1rem;
    padding-top: 2rem;
    .col-footer{
        display: flex;
        justify-content: start;
        align-items: start;
        @include mobile {
            display: flex;
            justify-content: center;
        }
    }
    .footer-ul{
        display: flex;
        justify-content: start;
        width: 50%;
        .ul-redes{
            display: flex;
            @include mobile {
                display: flex;
                justify-content: center;
                padding: 0;
            }
            li{
                padding: 0.5rem;
                list-style: none;
                a{
                    font-size: 3rem;
                    color:$text-botton;
                }
            }
        }
    }
    .col-list{
        @include mobile {
            display: flex;
            justify-content: center;
        }
        ul{
            display: flex;
            justify-content: center;
            @include mobile {
            display: flex;
            justify-content: center;
            padding: 0;
            padding-bottom: 1rem;
        }
            li{
                list-style: none;
                padding-left: 1rem;
                a{
                    text-decoration: none;
                    color: $text-botton;
                    font-weight: bold;
                    font-size: 1.3rem;
                }
            }
        }
    }
    .col-mail{
        display: flex;
        justify-content: end;
        @include mobile {
            display: flex;
            justify-content: center;
        }
        .footer-email{
            display: flex;
            justify-content: end;
            width: 80%;
            @include mobile {
                justify-content: center;
            }
            font-size: 1rem;
            .footer-div{
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding-right: 2rem;
                input{
                    display: flex;
                    justify-content: start;
                    width: 100%;
                    height: 3rem;
                    margin-top: 1rem;
                    outline: none;
                    border: none;
                    border-radius: 0.5rem;
                    background-color:$text-botton;
                }
            }
        }
    }
}
